html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
}

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.footer {
    height: 50px;
    background-color: #dcdcdc;
}

.footer > .container {
    padding-top:15px;
}

.container-fluid{
    height:100%;
    display:table;
    width: 100%;
    /*padding: 0;*/

    /* Negative indent footer by its height */
    margin: 0 0 -50px 0;
    /* Pad bottom by footer height */
    padding: 50px 0 50px 0;
}

.row-fluid {
    height: 100%;
    display:table-cell;
    vertical-align: middle;
}

.centering {
    float:none;
    margin:0 auto;
}

#qp-questions {
    width: 512px;
}
.qp-question {
    width: 512px;
}



